@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto+Slab:wght@400;500;600;700;800;900&display=swap');

:root {
    --blueColor: #5193B3;
    --lightBlueColor: #7bdff2;
    --greenColor: #62C4C3;
    --lightGreenColor: #b2f7ef;
    --yellowColor: #F8D49B;
    --creamColor: #eff7f6;
    --lightPinkColor: #f7d6e0;
    --whiteColor: #fff;
    --darkColor: #000;
    --whiteColor3: rgba(255, 255, 255, .3);
    --whiteColor6: rgba(255, 255, 255, .6);
    --whiteColor9: rgba(255, 255, 255, .9);
    --darkColor3: rgba(0, 0, 0, .3);
    --darkColor6: rgba(0, 0, 0, .6);
    --darkColor9: rgba(0, 0, 0, .9);

    --bgGradientBlue: linear-gradient(to 45deg, #6717cd, #2871fa);

    --spaceS: 8px;
    --spaceM: 16px;
    --spaceL: 24px;
    --spaceXl: 32px;
    --space2Xl: 48px;
    --space3Xl: 56px;
    --space4Xl: 63px;
    --space5Xl: 72px;
    --mainFont: 'Open Sans', sans-serif;
    --secondFont: 'Alfa Slab One', cursive;
    --tertiaryFont: 'Roboto Slab', serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

.fontsizeS {
    font-size: 16px;
}

.fontsizeM {
    font-size: 24px;
}

.fontsizeL {
    font-size: 32px;
}

.fontsizeXL {
    font-size: 48px;
}

.fontsize2XL {
    font-size: 56px;
}

.fontsize3XL {
    font-size: 63px;
}

.fontsize4XL {
    font-size: 72px;
}

.fontWeight600 {
    font-weight: 600;
}

.align-start {
    display: flex;
    align-items: start;
}

.text-center {
    text-align: center;
}

.fontWeight800 {
    font-weight: 800;
}

.text-white {
    color: white;
}

.rounded {
    border-radius: 16px;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
}


.shadow {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .blur-white {
        background-color: rgba(255, 255, 255, .5);
        -webkit-backdrop-filter: blur(2rem);
        backdrop-filter: blur(2rem);
    }
}

body {
    font-family: var(--mainFont);
    background-color: #f1f2f6;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-col {
    flex-direction: column;
}

/* HERO */

.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;

    background-image: url(http://madagui.com.vn/assets/uploads/2016/04/nhung-tia-nang-ban-mai-nd-large.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.z-1 {
    z-index: 1 !important;
}

.z-2 {
    z-index: 2 !important;
}

.z-3 {
    z-index: 3 !important;
}

.z-4 {
    z-index: 4 !important;
}

.z-5 {
    z-index: 5 !important;
}

.img-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

.section-absolute {
    position: absolute !important;
}

.hero .hero-wp {
    width: 100%;
    max-width: 120rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6.3rem;
    flex-direction: column;
}

.hero-wp .hero-box {
    width: 40rem;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--whiteColor6);
}

.hero-box .title-brand {
    font-size: 1.6rem;
    letter-spacing: 12px;
}

.hero-box .title {
    font-size: 7.2rem;
    font-weight: 900;
    font-family: var(--mainFont);
}

.hero-box .title-years {
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: 12px;
    font-family: var(--mainFont);
}

.hero-wp .hero-clock {
    width: 100%;
    max-width: 80rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--whiteColor6);
}

.hero-clock .clock-item {
    width: calc(100% / 4);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.clock-item .clock-time {
    font-size: 3.2rem;
}

.hero-processbar {
    width: 100%;
    max-width: 60rem;
    height: 1rem;
    display: flex;
    align-items: center;
    padding: var(--spaceS);
    margin-top: var(--spaceL);
}



.hero-processbar .processbar {
    background-color: var(--whiteColor3);
    width: 100%;
    height: 1rem;
    display: flex;
    align-items: center;
    padding: .2rem;
}

.processbar .processbar-load {
    width: 79%;
    height: 100%;
    background-color: var(--whiteColor6);
}

.hero-expired {
    width: 100%;
    min-height: 5rem;
    max-width: 55rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: var(--spaceS);
    padding: var(--spaceS);
}

.hero-expired .expired {
    text-align: center;
    font-size: 2.6rem;
}

.expired-text strong {
    font-weight: 600;
    font-size: 1.6rem;
}

.expired .expired-slogan {
    font-size: 1.8rem;
    font-weight: 600;
    font-style: italic;
    display: none;
    margin-top: --spaceS;
}

.expired-slogan.active {
    display: block;
}

/* SECTION */
.section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.section-wp {
    width: 100%;
    max-width: 120rem;
    height: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 3.2rem;
    padding: var(--spaceM);
}

.content-top {
    height: 22rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content-bottom {
    width: 100%;
    height: 60rem;
    flex: 1;
    overflow: hidden;
}

.section-image {
    flex: 1;
}

.section-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.content-button {
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: var(--spaceL);
}

.btn-view {
    width: 15rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.section-white {
    background-color: white;
}

.section-black {
    background-color: black;
}


.section-center {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bgGradientBlue {
    color: white;
    background: linear-gradient(45deg, #6717cd, #2871fa);
}

.bgGradientBlue:hover {
    background: linear-gradient(-45deg, #6717cd, #2871fa);
}

.txtGradientBlue {
    background: -webkit-linear-gradient(45deg, #6717cd, #2871fa);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.txtColorWhite {
    color: white;
}

.section-left {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--spaceM);
}

.section-right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--spaceM);
}

.section-headding {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    flex-direction: column;
    font-size: 2.4rem;
    color: rgba(255, 255, 255, .9);
}

.line-drag {
    width: 10rem;
    height: .5rem;
    background-color: #bdc3c7;
    border-radius: 100px;
    margin-top: var(--spaceS);
}

.bottom-0 {
    bottom: 0;
    left: 0;
}

.section-hello[data-scroll] {
    transition: all 2s;
}

.section-hello[data-scroll="out"] {
    opacity: 1;
    transform: translateX(0);
}

.section-hello[data-scroll="in"] {
    opacity: 0;
    transform: translateY(-200px);
}


[data-scroll] {
    transition: all 2s;
}

[data-scroll="in"] {
    opacity: 1;
    transform: translateX(0);
}

[data-scroll="out"] {
    opacity: 0;
    transform: translateY(-200px);
}

.toLeft[data-scroll] {
    transition: all 2s;
}

.toLeft[data-scroll="in"] {
    opacity: 1;
    transform: translateX(0);
}

.toLeft[data-scroll="out"] {
    opacity: 0;
    transform: translateX(-200px);
}

.toRight[data-scroll] {
    transition: all 2s;
}

.toRight[data-scroll="in"] {
    opacity: 1;
    transform: translateX(0);
}

.toRight[data-scroll="out"] {
    opacity: 0;
    transform: translateX(200px);
}

.toBottom[data-scroll] {
    transition: all 2s;
}

.toBottom[data-scroll="in"] {
    opacity: 1;
    transform: translateY(0);
}

.toBottom[data-scroll="out"] {
    opacity: 0;
    transform: translateY(-200px);
}

.toTop[data-scroll] {
    transition: all 2s;
}

.toTop[data-scroll="in"] {
    opacity: 1;
    transform: translateY(0);
}

.toTop[data-scroll="out"] {
    opacity: 0;
    transform: translateY(200px);
}

.delay-2[data-scroll] {
    transition-delay: .2s;
}

.delay-4[data-scroll] {
    transition-delay: .4s;
}

.delay-6[data-scroll] {
    transition-delay: .6s;
}

.section-0 {
    width: 100%;
    z-index: 2;
    display: flex;
    align-items: flex-end;
}

.section-1 {
    z-index: 3;
    overflow: hidden;
}

.section-sticky {
    z-index: 3;
    position: sticky;
    top: 0;
}

.section-relative {
    z-index: 3;
    position: relative;
    top: 0;
}



.section-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-image img {
    width: 50%;
    height: auto;
    object-fit: cover;
}

.txtHello[data-scroll] {
    transition: 2s linear;
}

.txtHello[data-scroll="in"] {
    transform: scale(2);
}

.mb-20 {
    margin-bottom: 20px;
}

.txtHello[data-scroll="out"] {
    transform: scale(1);
}